<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CMS -->  
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/output.css' | url }}">

    <!-- Meta -->
    <title>{{site.title}}{% if title %} - {{title}} {% endif %} </title>
    <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    "/>
  </head>


  
  <body class="inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white">

    {% include "partials/_navigation.njk" %}

    <main class="pt-6 text-xl	px-6">
    {{ content | safe }}
    {% include "partials/_footer.njk" %}
    </main>

    

  </body>

</html>