---
layout: base
title: Home
tags: page 
order: 1
---

„Christus zu erkennen bedeutet, seine Wohltaten zu erkennen.“

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>