<header class="bg-gray-400 sticky top-0">
    <nav class="">
        {% for item in collections.page %}
        <a href="{{ item.url }}"
        {% if item.url == page.url %}
            aria-current='page' data-state='active'
        {% endif %}
        class="hover:text-sky-400 text-xl"
        >{{ item.data.title }}</a>
        {% endfor %}
    </nav>
</header>